:root {
  // ## Colors

  // ### Primary

  --Soft-red: rgb(236, 119, 95);
  --Cyan: rgb(118, 181, 188);

  // ### Neutral

  --Dark-brown: hsl(25, 47%, 15%);
  --Medium-brown: hsl(28, 10%, 53%);
  --Cream: hsl(27, 66%, 92%);
  --Very-pale-orange: hsl(33, 100%, 98%);
}
